#navbar {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}

#training .items {
    flex-direction: column;
}
#training .items .item {
    width: 100%;
}
#courses .course {
    flex-direction: column;
}
.courses .course .course-image {
    margin-left: 2rem;
    position: relative;
}